@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.pop-up{
  width:600px;
  height:400px;
  padding:1rem;
  background-color:orange;
  border-Radius:1rem;
}
body{
  padding: 2rem;
}


.App{
  background-color: rgb(222, 142, 22);
  padding: 2rem;
}

.pop-up{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.loader{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  width: 200px;
  height: 200px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.card{
  max-width: 250px;
  width: 100vw;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(16, 84, 232, 0.829);
  font-family: 'Poppins', sans-serif;
  border-radius: 1rem;
  color: white;
  padding: 0rem 0 1rem 0;
}
.card-heading{
  font-size: larger;
  font-weight: bold;
}
.card-description{
  text-align: justify;
  padding: 0 1rem;
}
.image-wrapper{
  width: 100%;
}
.image-wrapper img{
  width: 100%;
  border-radius: 1rem 1rem 0rem 0rem;
}
.card-btn{
  background-color: rgba(255, 255, 255, 0.712);
  color: rgb(71, 71, 228);
  border-radius: 10px;
  border: 2px solid rgb(58, 58, 180);
  padding: .5rem 1rem;
  font-family: 'Poppins',sans-serif;
}
.btn{
  width: auto;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index:2000;
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.684);
  border: 2px solid rgb(222, 142, 22);
  color: rgb(58, 58, 180);
  border-radius: 5px;
  border: 1px solid rgb(58, 58, 180);
}